<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置角色权限</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>

<body>

<form class="layui-form" action="" lay-fiter="test">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="r_id" id="ids" th:value="${r_id}"  required  lay-verify="required"  class="layui-input">
            为角色[[${r_name}]]设置权限
        </div>
    </div>

        <span th:each="ement:${jurisdictionsList}">
            <input lay-filter="test" th:id="${ement.j_name}" type="checkbox" th:value="${ement.j_id}" name="j_id" th:title="${ement.j_name}" lay-skin="primary" th:checked="${ement.status} == 1 ? true:false "/>
            <span th:each="index:${ement.jurisdictionsList}" >
                    <input lay-filter="test1"  th:id="${ement.j_name}+'_role'" type="checkbox" th:value="${index.j_id}" name="j_id" th:title="${index.j_name}" lay-skin="primary" th:checked="${index.status} == 1 ? true:false "/>
            </span>
            <br/>
        </span>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

</body>
   <script src="/layui/layui.js" charset="utf-8"></script>
   <script src="/js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script>
    layui.use(['form','jquery'], function(){
         form = layui.form,
         $ = layui.jquery;

        form.on('submit(*)', function(data){
            quotation = new Array();
            $("input:checkbox[name='j_id']:checked").each(function(){
                quotation.push($(this).val());
            });
            window.location.href="/crm/roles-jurisdiction/updaterolejursdiction.do?r_id="+$("#ids").val()+"&j_id="+quotation;

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        form.on('checkbox(test)', function(data){
            var sr=data.elem.id;//得到checkbox原始DOM对象

            if(data.elem.checked==true){
                $("#"+sr+"_role").each(function(){
                    $(this).prop('checked', true);
                    form.render('checkbox');
                });
            }

            if(data.elem.checked==false){
                $("#"+sr+"_role").each(function(){
                    $(this).prop('checked', false);
                    form.render('checkbox');
                });
            }

        });

        form.on('checkbox(test1)', function(data){
            var sr=data.elem.id;//得到checkbox原始DOM对象

            if(data.elem.checked==true){
                $("#"+sr.split("_")[0]).prop('checked', true);
                form.render('checkbox');
            }

            if(data.elem.checked==false){
                var num=1;
                $("#"+sr).each(function(){
                    console.log(this);
                    console.log(this.checked);
                    if(this.checked==true){
                        num=2;
                        return false;
                    }

                });
                if(num==1){
                    $("#"+sr.split("_")[0]).prop('checked', false);
                    form.render('checkbox');
                }

            }

        });

    });
</script>
</html>