<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">

    <import resource="spring-shiro.xml"></import>

    <!--  开启注解扫描-->
    <context:component-scan base-package="com.hy.crm" ></context:component-scan>

    <!--配置数据源-->
    <bean  id="dateSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/crm"></property>
        <property name="user" value="root"></property>
        <property name="password" value="root"></property>
    </bean>

    <!--配置mybatis stting-->
    <bean id="settings" class="org.apache.ibatis.session.Configuration">
        <property name="logImpl" value="org.apache.ibatis.logging.log4j.Log4jImpl"></property><!--配置日志系统-->
    </bean>


    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dateSource"></property>
    </bean>

    <!--开启注解事务管理器-->
    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"></tx:annotation-driven>


    <!--    配置sqlsessionfactory-->
    <bean id="sessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dateSource"/>
        <!--        不要mybatis的主配置文件的配法-->
        <!--    扫描别名-->
        <property name="typeAliasesPackage" value="com.hy.ssm.lanxin.entity"/>
        <!--        加载mybatisplus主配置文件-->
        <property name="configLocation" value="classpath:Mybatis.xml"/>
        <!--        mybatisplus自带的分页-->
        <property name="plugins">
            <array>
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">

                </bean>
            </array>
        </property>
    </bean>

    <!--批量扫描Mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hy.crm.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
    </bean>

    <!--<bean id="bookServiceImpl" class="com.hy.ssm.exercise.service.impl.BookServiceImpl"></bean>-->

</beans>