<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="realmDemo"/>
    </bean>

    <!--配置realm-->   <!--中间密码加密匹配器-->
    <bean id="realmDemo" class="com.hy.crm.shiro.RealmDemo">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
               <!--加密方式-->
                <property name="hashAlgorithmName" value="MD5"></property>
                <!--加密次数-->
                <property name="hashIterations" value="1024"></property>
            </bean>
        </property>
    </bean>

    <!--配置shiro web过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--必须配置 安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!-- 如果没有认证访问其他需要认证的连接则跳转到的页面  一般就登录界面-->
        <property name="loginUrl" value="/index.html"/>
        <property name="unauthorizedUrl" value="/page/404.html"></property>
        <property name="filterChainDefinitions">
            <value>
                /css/**=anon
                /font/**=anon
                /img/**=anon
                /js/**=anon
                /images/**=anon
                /json/**=anon
                /layui/**=anon
                /login.html=anon
                /Login/Users/**=anon
                /page/404.html=anon
                /page/user/userInfo2.html=anon
                /index.html=anon
                /**=authc

                /page/serve/serves.html=perms[server:select]
                /page/serve/serveid.html=perms[server:details]
                /page/serve/addserves.html=perms[server:insert]
                /page/doc/statistics.html=perms[statistics:select]
                /crm/forum/delforum.do=perms[forum:delete]
                /page/user/queryUsers.html=perms[user:select]
                /sanqi/users/delusers.do=perms[user:delete]
                /page/user/roles.html=perms[user:roles]
                /page/user/user_Right.html=perms[user:perms]
                /page/user/gRoles.html=perms[roles:select]
                /page/user/addroles.html=perms[roles:insert]
                /page/user/rolesaddjursdiction.html=perms[roles:update]

                /customer_management/customer_management.html=perms[clients:select]
                /customer_management/add_Clients.html=perms[clients:add]
                /business_management/business_management.html=perms[business:select]
                /business_management/add_Business.html=perms[business:add]
                /withs_management/withs_management.html=perms[withs:select]
                /withs_management/add_withs.html=perms[withs:add]
                /contracts_management/contracts_management.html=perms[contracts:select]
                /contracts_management/add_contracts.html=perms[contracts:add]
                /**=authc

            </value>
        </property>

    </bean>

</beans>